# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Environment & credentials
appsettings.Development.json
# Uncomment below if you want appsettings.json excluded from git
# appsettings.json
